
.felt {   
width: 300px;  
height: 300px; 
background-image: url('../imgages/felt.jpg');  
background-color: green; 
position: relative;
top: 25px;
left: 25px;
}

.backcard {  
position: absolute;  
top: 40px;
left: 110px;
z-index: 1;
}

.secondcard {
  position: absolute;
  top: 50px;
  left: 110px;
  z-index: 2;
}

.thirdcard {
  position: absolute;
  top: 60px;
  left: 110px;
  z-index: 3;
}

.fourthcard {
  position: absolute;
  top: 70px;
  left: 110px;
  z-index: 4;
}

.fifthcard {  
position: absolute;  
top: 80px;
left: 110px;
z-index: 5;
}


.gradient { 
  background-image: url('../imgages/gradient.jpg');
  background-repeat: repeat-x;
  background-color: lightblue;
} 
